html {
	background-image: url("http://i778.photobucket.com/albums/yy70/Oh-Manu/Twin%20Peaks%20Graph/dark_forest_zps2mquvc6z.png");
	background-size: cover;
}

body { 
	font: 14px helvetica neue, helvetica, arial, sans-serif;
	color: #FFF;
}

h1 {
	margin: 0 auto;
	font-size: 54px;	
}

a {
	color: #FFF;
	font-weight: bold;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.index {
	position: absolute;
	top: 50%;
	margin-top: -250px;/* half of #content height*/
	left: 0;
	width: 100%;
}

.about {
	position: absolute;
	top: 50%;
	margin-top: -250px;/* half of #content height*/
	left: 0;
	width: 100%;
}

.about .instructions {
	padding-left: 130px;
}

.about img.logo {
	width: 80px;
}

.bg {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	padding: 20px;
}

img.logo {
	width: 350px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin: 0 auto;
	display: block;
}

img.powered {
	width: 40px;
}

.menu {
	width: 550px;
	margin: auto;
	position: absolute;
	top: 0; 
	left: 0; 
	bottom: 0; 
	right: 0;
}

.menu a {
	font-size: 15px;
}

a.sexual {
	color: #8f0e2e;
}

a.fbi {
	color: #626262;
}

a.family {
	color: #009045;	
}

a.friendship {
	color: #009bdb;	
}

a.sheriff {
	color: #ddc22a;	
}

a.married {
	color: #ef95ac;	
}

#cy {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.qtip-bootstrap {
	background-color: rgba(0, 0, 0, 0.5);
	color: #FFFFFF;
}

footer.footer-about {
	padding-left: 130px;
}

