html {
	background-image: url("http://i778.photobucket.com/albums/yy70/Oh-Manu/Twin%20Peaks%20Graph/dark_forest_zps2mquvc6z.png");
	background-size: cover;
}

body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
}